<!DOCTYPE html>
<html>

<head>
  <title>
    Test convert excel data to json
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
    <input type="file" name="file" />Upload
    <input type="submit" value="Upload" name="submit">
  </form>
</body>

</html>